.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 100px;
}

.place-order-left{
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-left .title{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 30px;
}

.place-order-left input{
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
    font-size: 14px;
    outline-color: #db6a57;
}

.place-order-left .multi-inputs{
    display: flex;
    gap: 10px;
}

.place-order-right{
    width: 100%;
    max-width: max(40%, 500px);
}

.place-order .cart-total button{
    margin-top: 28px;
}