.item-item{
    width: 100%;
    border-radius: 15px;
    transition: .3s;
    animation: fadeIn 1s;
    margin: auto;
    box-shadow: 0 0 10px #00000015;
}

.item-item-image{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.item-item-info{
    padding: 20px 30px;
}

.item-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.item-item-name-rating p{
    color: #262626;
    font-size: 18px;
    font-weight: 500;
}

.item-item-name-rating img{
    width: 70px;
}

.item-item-desc{
    font-size: 14px;
    color: #49557e;
}

.item-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 600;
}

.item-item-img-container{
    position: relative;
}

.item-item-img-container .add{
    position: absolute;
    border-radius: 50%;
    bottom: 15px;
    right: 15px;
    width: 35px;
    cursor: pointer;
}

.item-item-counter{
    position: absolute;
    bottom: 15px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: white;
    border-radius: 50px;
    padding: 6px;
    cursor: pointer;
}

